{% extends 'base.html' %}

{% block title %}
    Список клиентов
{% endblock %}

{% block body %}
    {{ id }}

    {% for client in clients %}

        <div class="card m-2">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <p class="m-0">UUID: {{ client.title }}</p>
                  <p class="m-0 fs-6 fw-lighter">Дата создания: {{ client.date }}</p>
              </div>
              <div class="card-body">
                  <h5 class="card-title">{{ client.name }}</h5>
                  <p class="card-text">{{ client.description }}</p>
                  <a href="#" class="btn btn-primary">Подробнее</a>
                  <a href="{{ url_for('issued.save', id=client.id) }}" class="btn btn-primary">Скачать конфигурацию</a>
                  <a href="{{ url_for('issued.delete', id=client.id) }}" class="btn btn-danger">Удалить</a>
              </div>
        </div>

    {% endfor %}




{% endblock %}