{% extends 'base.html' %}

{% block title %}
    Создание нового ЦС
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="card text-center">
          <div class="card-header">
            OZNA
          </div>
          <div class="card-body">
            <h5 class="card-title">Создай новый Центр Сертификации</h5>
            <p class="card-text">Проверь все данные перед отправкой! Немного внимательности)</p>


                <div class="col-md-6 offset-md-3">
                    <div class="input-group m-1">
                        <span class="input-group-text">ЦС:</span>
                        <input type="text" class="form-control" name="name" value="my_CA">
                    </div>

                    <div class="alert-name alert alert-danger d-none m-1" role="alert">
                      Имя должно содержать от 5 до 20 символов, а также не совпадать с другими из БД!
                    </div>

                    <div class="input-group m-1">
                        <span class="input-group-text">Описание:</span>
                        <input type="text" class="form-control" name="descr" value="my_Description">
                    </div>

                    <div class="alert-descr alert alert-danger d-none m-1" role="alert">
                      Описание должно содержать минимум 5 символов!
                    </div>

                    <div class="input-group m-1">
                        <span class="input-group-text">Срок:</span>
                        <input type="text" class="form-control" id="airdatepicker" name="validity" value="{{ request.args.get('validity', date_time_end) }}">
                    </div>

                    <button type="button" id="create_ca" class="btn btn-primary">Создать ЦС</button>

                    <div class="success-create alert m-1 d-none" role="alert">
                      ---!
                    </div>


                </div>

          </div>
          <div class="card-footer text-muted">
            У тебя все получится! ;)
          </div>
        </div>
    </div>

<a id="bbb">click</a>



{% endblock %}