{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}



{% block body %}

    <form method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword">
            <input type="submit" class="btn btn-primary mt-3">
        </div>
    </form>




{% endblock %}